h1, body {
    font-family:arial;
    margin:0;
    padding:0;
}
ul, li{
    list-style: none;
    padding-left: 0;
}
.container{
    width: 99%;
    padding:5px;
}

.heading{
    height:100px;
    background-color: green;
    color:white;
    padding:15px;
    padding-left: 25px;
    border-radius: 4px;
}
.heading p{
    margin-top:10px;
}
.content{
    display: flex;
    height:70vh;
    padding:8px;
}
.navbar {
    flex:1;   
}

.main{
    flex:3;
    padding: 16px;
    line-height: 40px;

}

.sidebar{
    flex:1;
    background-color: rgb(42,146,225);
    color:white;
    padding:10px;
    border-radius: 8px;
}

li{
    background-color: rgb(233, 233, 229);
    height:30px;
    padding:8px;
    border-radius: 8px;
    margin-bottom:7px;
}
li:hover{
    cursor: pointer;
    border: 3px green solid;
}
li:nth-of-type(1){
    background-color: green;
    color:white;
}
.navbar > ul{
    margin-top: 8px;
}
a{
    color:black;
}